@font-face {
   font-family: 'bodoni-z37.m-compressed-bold (1)';
   font-display: swap;
   src: url('file:///C:/Users/fullo/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-03-10_063940/fonts/bodoni-z37.m-compressed-bold%20(1)/font.ttf');
}
